{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% block content %}

<div class="ui segment container">
    <form class="ui form" action="/register/" method="post">

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        {% csrf_token %}
        <h2>欢迎注册</h2>

        <div class="field">
            {{ register_form.username.label_tag }}
            {{ register_form.username }}
        </div>

        <div class="field">
            {{ register_form.password1.label_tag }}
            {{ register_form.password1 }}
        </div>

        <div class="field">
            {{ register_form.password2.label_tag }}
            {{ register_form.password2 }}
        </div>

        <div class="field">
            {{ register_form.email.label_tag }}
            {{ register_form.email }}
        </div>

        <div class="field">
            {{ register_form.sex.label_tag }}
            {{ register_form.sex }}
        </div>

        <div class="field">
            {{ register_form.captcha.errors }}
            {{ register_form.captcha.label_tag }}
            {{ register_form.captcha }}
        </div>

        <button class="ui button" type="reset">重置</button>
        <button class="ui button" type="submit">提交</button>


    </form>


</div>

{% endblock %}