{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <script src="{% static 'semantic/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'semantic/semantic.min.js'%}"></script>

    {% block css %}{% endblock %}
</head>
<body>
<div class="ui secondary pointing menu">
    <a class="active item">
        首页
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>

{% block content %}{% endblock %}
</body>
</html>