{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block content %}




<!-- Page Contents -->
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item" href="/">首页</a>
                <a class="item" href="/column/bee/">蜜蜂智慧</a>
                <a class="item" href="/column/new/">新闻动态</a>
                <div class="right menu">
                    {% if request.session.is_login %}
                        <div class="item">
                            <a class="ui item">当前在线：{{ request.session.user_name }}</a>
                        </div>
                        <div class="item">
                            <a href="/logout/">登出</a>
                        </div>
                    {% else %}
                        <div class="item">
                            <a href="/login/">登录</a>
                        </div>
                        <div class="item">
                            <a href="/register/">注册</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui text container">

            <h1 class="ui inverted header">
                梅花蜂场
            </h1>
            <h2>广西容县灵山镇</h2>

        </div>

    </div>




  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
           <ul>
    {% for column in columns %}
        <li>
            <a href="{{ column.get_absolute_url }}">{{ column.name }}</a>
        </li>
    {% endfor %}
    </ul>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
      <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
      <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
      <a class="ui large button">I'm Still Quite Interested</a>
    </div>










{% endblock %}