{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block content %}

<!-- banner -->
<div class="banner_area">
    <div class="ui vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large inverted secondary  menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item" href="/">首页</a>
                <a class="item" href="/column/bee/">蜜蜂智慧</a>
                <a class="item" href="/column/new/">新闻动态</a>
                <div class="right menu">
                    {% if request.session.is_login %}
                        <div class="item">
                            <a class="ui item">当前在线：{{ request.session.user_name }}</a>
                        </div>
                        <div class="item">
                            <a href="/logout/">登出</a>
                        </div>
                    {% else %}
                        <div class="item">
                            <a href="/login/">登录</a>
                        </div>
                        <div class="item">
                            <a href="/register/">注册</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui text container">

            <h1 class="ui inverted header">
                容县灵山梅花蜂场
            </h1>
            <h2 class="ui inverted header">原生态，纯天然，无污染，无加工，深山蜜蜂养殖</h2>

        </div>

    </div>
</div>
<!-- end banner -->

<!-- 内容 -->
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">

                    {% for articles in article %}
                        <div class="ui header">{{ articles.title }}</div>
                        <p>{{ articles.content|truncatewords:10 }}</p>
                    {% endfor %}
                </div>
                <div class="six wide right floated column">
                    <img src="/static/images/img3.jpg" class="ui fluid large bordered rounded image">
                </div>
        </div>

    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled  grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="/static/images/img1.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe segment">

<div class="ui four column grid">
    {% for item in imgs %}

        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{ item.img_url.url }}">
                </div>
                <div class="content">
                    <a class="header">{{ item.id }}</a>
                </div>
            </div>
        </div>
    {% endfor %}


</div>

    </div>





{% endblock %}